body{}
    /* text-align: center; */

h1{
    font-family: "Nunito";
}

img{
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* border:5px solid #000; */
}
#mapid{
    height: 30em;

}
#maincontainer {
    position: fixed;
    width: 75%;
    left: 0;
    padding-left: 1em;
}
#imgcontainer {
    right: 0;
    position: absolute;
    width: 23%;
}
#imgcontainer img{
    display: block;
    max-width: 100%;
}

.slidecontainer {
    display: inline;
}

.slider {
    width: 70%;
}

.legenditem {
    display: flex;
}

.tooltips .awesome-marker{
    position: inherit;
    width: 43px;
}

.yearindex {
    background-color: rgba(245, 245, 245, 0.7);
    width: 13em;
}

#year {
    font-weight: bolder;
    font-size: 1.3em;
}
.tooltips {
    background-color: rgba(245, 245, 245, 0.7);
    height: 11em;
    width: 13em;
}


.control {
    border: 2px solid #E48681;
    border-radius: 50%;
    margin: 20px;
    padding: 5px;
    width: 20px;
    height: 20px;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
  }
  .control,
  .control .left,
  .control .right,
  .control:before {
    display: inline-block;
    vertical-align: middle;
    transition: border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
    transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
  }
  .control:before {
    content: "";
    height: 20px;
  }
  .control.pause .left,
  .control.pause .right {
    margin: 0;
    border-left: 6.6px solid #E48681;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    height: 17.32px;
  }
  .control.pause .left {
    border-right: 4px solid transparent;
  }
  .control.play .left {
    margin-left: 3.33333333px;
    border-left: 8.66px solid #E48681;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 0px solid transparent;
    height: 10px;
  }
  .control.play .right {
    margin: 0;
    border-left: 8.66px solid #E48681;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    height: 0px;
  }
  .control:hover {
    border-color: #DA4F49;
  }
  .control:hover .left,
  .control:hover .right {
    border-left-color: #DA4F49;
  }
  